<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- مجوز اینترنت (ضروری برای هر ارتباط شبکه‌ای) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- مجوز موقعیت مکانی دقیق (GPS) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- مجوز موقعیت مکانی تقریبی (WiFi / شبکه) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest>
